[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.0,<3.0"
django-storages = "*"
boto3 = "*"
beautifulsoup4 = ">=4.2.1"
django-basic-apps = {editable = true, ref = "master", git = "https://github.com/tkanemoto/django-basic-apps.git"}
django-contrib-comments = "*"
django-gravatar2 = "*"
django-localflavor = "<2.0"
django-registration = "*"
django-tagging = "*"
django-torrent = {editable = true, ref = "master", git = "https://github.com/tkanemoto/django-torrent.git"}
django-treemenus = {editable = true, ref = "master", git = "https://github.com/tkanemoto/django-treemenus.git"}
markdown2 = "*"
pyflakes = "*"
python-dateutil = "*"
requests = ">=2.4.3"
django_compressor = "*"
psycopg2 = { version = "*", sys_platform = "== 'linux'" }
python-memcached = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3"
