[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.0"
django-storages = "*"
django-ordered-model = "<3.0.0"
six = "*"
Pillow = "*"
boto3 = "*"
beautifulsoup4 = ">=4.2.1"
django-basic-apps = {editable = true, ref = "master", git = "https://github.com/tkanemoto/django-basic-apps.git"}
django-contrib-comments = "*"
django-gravatar2 = "*"
django-localflavor = "<2.0"
django-openid-auth = "*"
django-portfolios = {editable = true, ref = "master", git = "https://github.com/tkanemoto/django-portfolios.git"}
django-registration = "*"
django-tagging = "*"
django-torrent = {editable = true, ref = "master", git = "https://github.com/tkanemoto/django-torrent.git"}
django-treemenus = {editable = true, ref = "master", git = "https://github.com/tkanemoto/django-treemenus.git"}
markdown2 = "*"
oauthlib = ">=0.7.2"
pyflakes = "*"
python-dateutil = "*"
python-social-auth = "*"
requests = ">=2.4.3"
requests-oauthlib = "*"
transmissionrpc = "*"
django_compressor = "*"
jet-django = "*"
google-api-python-client = "==1.4.1"
djangorestframework = "*"
social-auth-app-django = "*"
django-jet = "*"

[dev-packages]

[requires]
python_version = "3"
