django==1.4
django-pagination
django_evolution
django-tagging
python-dateutil
transmissionrpc
-e git://github.com/7k/django-basic-apps#egg=django-basic-apps
django-registration
markdown
beautifulsoup
django-treemenus
django-gravatar