body,
p,
ul,
ol,
dl,
input,
textarea,
table,
td {
  font-family: 'Roboto', sans-serif;
  color: rgba(255, 255, 255, .5);
  font-size: 16px;
  font-weight: 300;
}

code,
pre {
  font-family: 'Ubuntu Mono', Consolas, monospace;
  font-size: 14px;
  color: #ccc;
}
pre {
  padding: 2px 10px;
  background-color: #111;
}

.loading {
  background: transparent url('../images/loading-v3.gif') 50% 33% no-repeat no-repeat;
  padding-left: 80px;
  vertical-align: middle;
  line-height: 100px;
  height: 100px;
}
.loading-small {
  background: url(../images/icons/loading.gif) left center no-repeat;
  padding-left: 20px;
}

/* Links */
a {
  color: #eee;
}
a:focus,
a:hover {
  color: #fff;
}
/* Custom default button */
.btn { text-shadow: none; }
.btn-highlight,
.btn-highlight:hover,
.btn-highlight:focus {
  color: #333;
  background-color: #fff;
  border: .05rem solid #fff;
}
html,
body {
  background-color: #343a40;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}
html.home,
body.home {
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}
html.downloads,
body.downloads {
  background-color: #212529;
}
.cover-container {
  max-width: 42em;
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.separator { color: #ccc; padding: 0px 6px; }

.content { margin-top: 56px; }

/* BOOTSTRAP OVERRIDES */
.popover { max-width: 400px; background: #111; }
.popover-body { color: #ccc; }
.bs-popover-auto[x-placement^=bottom] .arrow::after,
.bs-popover-bottom .arrow::after {
  border-bottom-color: #111;
}

#top-bar { border: none; }
#top-bar .navbar-right .dropdown .dropdown-menu { width: 400px; top: 50px; }
#top-bar .navbar-right .dropdown .popover { display: none; left: auto; }
#top-bar .navbar-right .dropdown .popover.show { display: block; }
#top-bar .navbar-right .dropdown .dropdown-menu .arrow { right: 10px; left: auto; }
#top-bar .navbar-right .dropdown .dropdown-menu .user-profile-links { margin: 6px 0; }
#top-bar .navbar-right .dropdown .dropdown-menu .user-profile-links a { margin: 10px; }
#top-bar .navbar-right .dropdown .dropdown-menu .user-profile-links a:first-child { margin-left: 0px; }
#top-bar .navbar-right .dropdown .avatar { margin: -2px 4px; }
#top-bar > .collapse > .navbar-nav > li > a { font-weight: 700; }
#top-bar .navbar-brand > img {
  height: 32px;
}
#navigation > .nav-item > .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

#navigation > .nav-item > .nav-link:hover,
#navigation > .nav-item > .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

#navigation > .nav-item + .nav-item {
  margin-left: 1rem;
}

#navigation > .nav-item.active > .nav-link {
  color: #fff;
  border-bottom-color: #fff;
}

/* USERS */
.user { position: relative; margin: 0 0 0 44px; }
.user.xsmall { margin-left: 27px; }
.user.xxsmall { margin-left: 24px; }
.user .name { padding-left: 4px; }
.user .name small, .user span.date { color: #999; font-size: .85em; }
.user span.date { display: block; margin-left: 50px; }
.author { position: relative; margin: 20px 0 20px 60px; }
.avatar { position: absolute; top: 0px; left: -60px; display: block; width: 48px; height: 48px; background: #bbb; background-position: 50% 50%; background-repeat: no-repeat; overflow: hidden; text-indent: -1000px; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.small .avatar { left: -44px; width: 36px; height: 36px; }
.xsmall .avatar { left: -27px; width: 24px; height: 24px; }
.xxsmall .avatar { position: absolute; left: -24px; width: 16px; height: 16px; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.object_list .meta .xxsmall .avatar { top: 0px; }
.avatar:hover, .small .avatar:hover { background: #3d7cb1; text-decoration: none; }
#top-bar .user { margin-left: 20px; line-height: 40px; font-size: .7em; vertical-align: middle; }
#top-bar .user.xxsmall .avatar { top: 12px; left: -16px; }
#top-bar .user .name { text-decoration: none; }
.user-menu .media-object { margin-right: 10px; }

#user_image { margin: 10px; width: 210px; height: 210px; display: block; backgro
und: #eee; background-position: 50% 50%; background-repeat: no-repeat; overflow:
 hidden; text-indent: -1000px; -webkit-border-radius: 4px; -moz-border-radius: 4
px; border-radius: 4px; }

.panel.popover { display: block; position: static; float: none!important; box-shadow: none; -webkit-box-shadow: none; padding: 0px; max-width: 800px; }
.panel.popover .arrow { position: relative; top: 30px; margin-top: -21px; }
.panel.popover .arrow:after { position: relative; top: -10px; }
.panel.popover.right .arrow:after { border-right-color: #f5f5f5 }
.popover-title { font-weight: 800; }

.abcRioButton{-webkit-border-radius:1px;border-radius:1px;-webkit-box-shadow 0 2px 4px 0px rgba(0,0,0,.25);box-shadow:0 2px 4px 0 rgba(0,0,0,.25);-webkit-box-sizing:border-box;box-sizing:border-box;-webkit-transition:background-color .218s,border-color .218s,box-shadow .218s;transition:background-color .218s,border-color .218s,box-shadow .218s;-webkit-user-select:none;-webkit-appearance:none;background-color:#fff;background-image:none;color:#262626;cursor:pointer;outline:none;overflow:hidden;position:relative;text-align:center;vertical-align:middle;white-space:nowrap;width:auto}.abcRioButton:hover{-webkit-box-shadow:0 0 3px 3px rgba(66,133,244,.3);box-shadow:0 0 3px 3px rgba(66,133,244,.3)}.abcRioButtonBlue{background-color:#4285f4;border:none;color:#fff}.abcRioButtonBlue:hover{background-color:#4285f4}.abcRioButtonBlue:active{background-color:#3367d6}.abcRioButtonLightBlue{background-color:#fff;color:#757575}.abcRioButtonLightBlue:active{background-color:#eee;color:#6d6d6d}.abcRioButtonIcon{float:left}.abcRioButtonBlue .abcRioButtonIcon{background-color:#fff;-webkit-border-radius:1px;border-radius:1px}.abcRioButtonSvg{display:block}.abcRioButtonContents{font-family:Roboto,arial,sans-serif;font-size:14px;font-weight:500;letter-spacing:.21px;margin-left:6px;margin-right:6px;vertical-align:top}.abcRioButtonContentWrapper{height:100%;width:100%}.abcRioButtonBlue .abcRioButtonContentWrapper{border:1px solid transparent}.abcRioButtonErrorWrapper,.abcRioButtonWorkingWrapper{display:none;height:100%;width:100%}.abcRioButtonErrorIcon,.abcRioButtonWorkingIcon{margin-left:auto;margin-right:auto}.abcRioButtonErrorState,.abcRioButtonWorkingState{border:1px solid #d5d5d5;border:1px solid rgba(0,0,0,.17);-webkit-box-shadow:0 1px 0 rgba(0,0,0,.05);box-shadow:0 1px 0 rgba(0,0,0,.05);color:#262626}.abcRioButtonErrorState:hover,.abcRioButtonWorkingState:hover{border:1px solid #aaa;border:1px solid rgba(0,0,0,.25);-webkit-box-shadow:0 1px 0 rgba(0,0,0,.1);box-shadow:0 1px 0 rgba(0,0,0,.1)}.abcRioButtonErrorState:active,.abcRioButtonWorkingState:active{border:1px solid #aaa;border:1px solid rgba(0,0,0,.25);-webkit-box-shadow:inset 0 1px 0 #ddd;box-shadow:inset 0 1px 0 #ddd;color:#262626}.abcRioButtonWorkingState,.abcRioButtonWorkingState:hover{background-color:#f5f5f5}.abcRioButtonWorkingState:active{background-color:#e5e5e5}.abcRioButtonErrorState,.abcRioButtonErrorState:hover{background-color:#fff}.abcRioButtonErrorState:active{background-color:#e5e5e5}.abcRioButtonWorkingState .abcRioButtonWorkingWrapper,.abcRioButtonErrorState .abcRioButtonErrorWrapper{display:block}.abcRioButtonErrorState .abcRioButtonContentWrapper,.abcRioButtonWorkingState .abcRioButtonContentWrapper,.abcRioButtonErrorState .abcRioButtonWorkingWrapper{display:none}.-webkit-keyframes abcRioButtonWorkingIconPathSpinKeyframes{0%{-webkit-transform:rotate(0)}} 
.login-buttons a { margin-bottom: 10px; }
.login-buttons a:last-child { margin-bottom: 0px; }
.login-buttons a:hover, .login-buttons a:focus { text-decoration: none; color: white; }
.login-buttons .facebook { color: white; background-color: #3B5998; border-radius: 3px; display: block; padding: 10px 20px; font-size: 16px;}
.login-buttons .facebook .fa { font-size: 20px; }
