django==1.4.5
django-pagination
django_evolution
django-tagging
python-dateutil
transmissionrpc
-e git+https://github.com/tkanemoto/django-basic-apps.git#egg=django-basic-apps
django-registration==0.8
markdown
beautifulsoup
django-treemenus
django-gravatar
python-openid
django-openid-auth
django-filebrowser
pyflakes
