django>=1.11,<2.0
django-storages
django-ordered-model
six
Pillow
boto3
beautifulsoup4>=4.2.1
-e git+https://github.com/tkanemoto/django-basic-apps.git#egg=django-basic-apps
django-contrib-comments
django-gravatar2
django-localflavor<2.0
django-openid-auth
-e git+https://github.com/tkanemoto/django-portfolios.git#egg=django-portfolios
django-registration
django-tagging
-e git+https://github.com/tkanemoto/django-torrent#egg=django-torrent
-e git+https://github.com/tkanemoto/django-treemenus#egg=django-treemenus
markdown2
oauthlib>=0.7.2
pyflakes
python-dateutil
python-social-auth[django]
requests>=2.4.3
requests-oauthlib
transmissionrpc
django_compressor
django-jet