{% extends "blog/base_blog.html" %}

{% load i18n %}

{% block title %}{% trans "Post archive" %}{% endblock %}
{% block body_class %}{{ block.super }} post_list{% endblock %}


{% block content_title %}
  <h2>{% trans "Post archive" %}</h2>
{% endblock %}


{% block content %}
  {% load gravatar %}
  <div class="list post_list">
    {% for post in object_list %}
    <div class="item user small">
      <a href="{{ post.author.get_absolute_url }}">
        <span class="avatar" style="background-image: url({% gravatar_url post.author.email 36 %})"></span>
      </a>
      <h4 class="title" style="margin-bottom: 4px"><a href="{{ post.get_absolute_url }}" title="View this post">{{ post.title }}</a></h4>
      <div class="date muted">
        {{ post.publish|date:"d F Y" }} <small>({{ post.publish|timesince }} ago)</small>
      </div>
      <p class="tease">{{ post.tease|safe }}</p>
    </div>
    {% endfor %}
  </div>
{% endblock %}
