{% extends "blog/base_blog.html" %}

{% load i18n %}

{% block title %}{% trans "Post archive" %}{% endblock %}
{% block body_class %}{{ block.super }} post_list{% endblock %}


{% block content_title %}
  <h2>{% trans "Post archive" %}</h2>
{% endblock %}


{% block content %}
  {% load gravatar %}
  <ul class="media-list">
    {% for post in object_list %}
      <li class="media">
        <a class="media-left" href="{{ post.author.get_absolute_url }}">
          <img src="{% gravatar_url post.author.email 36 %}" class="img-rounded">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
          <div class="date text-muted">
            {{ post.publish|date:"d F Y" }} <small>({{ post.publish|timesince }} ago)</small>
          </div>
          <p class="tease">{{ post.tease|safe }}</p>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
