{% extends "blog/base_blog.html" %}

{% load i18n %}

{% block title %}{% trans "Ramblings" %}{% endblock %}
{% block body_class %}{{ block.super }} post_list{% endblock %}
{% block container_row_class %}{{ block.super }} col-md-10 col-md-offset-1{% endblock %}

{% block content_title %}
  <h1>{% trans "Ramblings" %}</h1>
{% endblock %}


{% block content %}
  {% load gravatar %}
  <ul class="list-group list-group-flush bg-dark">
    {% for post in object_list %}
      <li class="list-group-item bg-dark">
        <div class="d-flex w-100 justify-content-between">
          <h4 class="media-heading"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
          <div class="date text-muted">
            <a href="{{ post.author.get_absolute_url }}">
              <img src="{% gravatar_url post.author.email 16 %}" class="">
            </a>
            {{ post.publish|timesince }} ago
          </div>
        </div>
        <p class="lead tease">{{ post.tease|safe }}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
