{% extends "blog/base_blog.html" %}

{% load i18n %}

{% block title %}{{ object.title }}{% endblock %}
{% block meta_og_title %}{{ object.title }}{% endblock %}
{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}
{% block meta_description %}{{ object.tease|escape }}{% endblock %}
{% block meta_og_description %}{{ object.tease|escape }}{% endblock %}
{% block meta_author %}{{ object.author.get_full_name }}{% endblock %}
{% block meta_keywords %}{{ object.title }}{% endblock %}
{% block container_row_class %}{{ block.super }} col-md-10 col-md-offset-1{% endblock %}

{% block content_title %}
  <h2>{{ object.title }}</h2>
  <div class="btn-group">
    {% if object.get_previous_by_publish %}
    <a class="btn previous" href="{{ object.get_previous_post.get_absolute_url }}" title="{% trans "View previous post" %}">&laquo; {{ object.get_previous_post }}</a>
    {% endif %}
    {% if object.get_next_by_publish %}

    <a class="btn next" href="{{ object.get_next_post.get_absolute_url }}" title="{% trans "View next post" %}">{{ object.get_next_post }} &raquo;</a>
    {% endif %}
  </div>
{% endblock %}


{% block content %}
  {% load blog comments tagging_tags inlines markup gravatar %}

  <div class="body">
    {{ object.body|safe|render_inlines|markdown }}
  </div>

  {% tags_for_object object as tag_list %}
  {% if tag_list %}
  <p class="inline_tag_list"><strong>{% trans "Related tags" %}:</strong>
    {{ tag_list|join:", " }}
  </p>
  {% endif %}

  <div class="card bg-dark">
    <div class="card-body">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="card-title"><a href="{{ object.author.get_absolute_url }}" title="View {{ object.author.get_full_name }}'s profile">{{ object.author.get_full_name }}</a></h5>
        <img src="{% gravatar_url object.author.email 48 %}" class="rounded"/>
      </div>
      <h6 class="card-subtitle mb-2 text-muted">On {{ object.publish|date:"j F Y" }}</h6>
    </div>
  </div>

  {% render_comment_list for object %}

  {% if object.allow_comments %}
    {% if request.user.is_authenticated %}
      {% render_comment_form for object %}
    {% else %}
      <div class="well">
        <a href="{% url 'social:begin' backend='google-oauth2' %}?next={{ request.path_info }}"><img src=""/> Log in using Google+</a> to comment.
      </div>
    {% endif %}
  {% else %}
    <div class="well">
      <h3>Comments are closed.</h3>
      <p>Comments have been closed for this post.</p>
    </div>
  {% endif %}

{% endblock %}
