{% load markup stringutils gravatar %}

<div id="comments">
  <a name="comments"></a>
  <h2>Comments</h2>
  <ul class="media-list">
    {% for comment in comment_list %}
      {% if comment.is_public %}
      <li class="media">
        <a class="media-left" href="{{ comment.get_absolute_url }}" name="c{{ comment.id }}" title="Permalink to {{ comment.user.get_full_name }}'s comment">
          <img src="{% gravatar_url comment.user.email 48 %}" class="img-rounded">
        </a>
        <div class="media-body">
          <h4 class="media-heading"><a href="{{ comment.user.get_absolute_url }}" title="View {{ comment.user.get_full_name }}'s profile">{{ comment.user.get_full_name }}</a></h4>
          <div class="date text-muted">
            {{ post.publish|date:"d F Y" }} <small>({{ post.publish|timesince }} ago)</small>
          </div>
          <p class="tease">{{ post.tease|safe }}</p>
        </div>
        <div class="media-right">
          {% if comment.user == user or request.user.is_superuser %}
            <a class="btn btn-xs btn-danger" href="{% url 'comments-delete' comment.id %}">Remove</a>
          {% endif %}
        </div>
      </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>
