{% if object %}
  {{ object }}
{% else %}
  {% load gravatar %}
  {% for post in object_list %}
    <h4><a href="{{ post.get_absolute_url }}" title="View this post">{{ post.title }}</a></h4>
    <small class="muted user xxsmall">
      <a href="{{ post.author.get_absolute_url }}">
        <i class="avatar" style="background-image: url({% gravatar_for_email post.author.email 16 %})"></i>
      </a>
      {{ post.publish|date:"d F Y" }}
    </small>
    <p class="tease">{{ post.tease|safe }}</p>
  {% endfor %}
{% endif %}
